<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="/stylesheets/styleindex.css" </head>

<body>
    <div class="nav">
    <a href="/read">CHECK USERS</a>
    </div>
   <div class="form">
    <form action="/create" method="post">
    <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Name ">
            <label for="mail">Email:</label>
            <input type="email" id="mail" name="mail" placeholder="Enter mail">
            <label for="image">Image URL:</label>
            <input type="url" id="image" name="image" placeholder="Enter URL">
    <button type="submit" >create</button>
    </form>
   </div>

</body>

</html>